.homeHeroWrapper {
    width: 100%;
    /* background: linear-gradient(#31102e, #790133, #F3724D, #f9f9f9); */
    background: var(--white);

}

/* 
.homeHeroWrapper::after {
    content: "";
    position: absolute;
    height: 12px;
    top: 0;
    left: 0;
    width: 100%;
} */

.homeHero {
    display: grid;
    grid-template-columns: 6fr 6fr;
    height: 100vh;
}

.homeHeroInfo,
.homeHeroPhotoWrapper {
    height: 100%;
    display: flex;
    align-items: center;
}

.homeHeroInfo {
    font-size: 1.2rem;
    line-height: 1.4;
    padding: 120px;
}

.homeHeroInfoLink {
    position: relative;
    transition: all 150ms ease-in-out;
    font-weight: 700;
    color: var(--pink);
}

.homeHeroInfoLink:hover {
    text-shadow: 3px 3px var(--black);
    cursor: pointer;
}

.homeHeroPhotoWrapper {
    background-image: linear-gradient(to top, #60fcf4 0%, #f83d78 100%);
    /* background-blend-mode: lighten; */
    height: 100%;
    width: 100%;

}

.homeHeroPhoto {
    background: url('./../assets/images/me.jpg');
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    filter: grayscale(100%);
    mix-blend-mode: multiply;
}