.navbar {
    font-family: "Montserrat";
    width: 100%;
    padding: 48px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;

}

.navbarWrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.navbarName svg {
    height: 54px;
}

.navbarLinks {
    margin-left: 24px;
    font-size: 1.2rem;
    background: var(--pink);
    color: var(--white);
    text-decoration: none;
    padding: 12px 16px;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
}

.navbarLinks:hover {
    cursor: pointer;
}