.navbar {
    font-family: "Montserrat";
    color: #790133;
    width: 100%;
    padding: 48px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
}

.navbarWrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}

.navbarName {
    font-weight: 600;
    font-size: 1.6rem;
}

.navbarLinks {
    margin-left: 24px;
    font-size: 1.4rem;
}