.projectWrapper {
    width: 100%;
    padding: 32px 24px;
    background: #F3724D;
    border-radius: 2px;
    display: grid;
    margin-bottom: 60px;
    grid-template-columns: 1fr 360px;
}

.projectInfo {
    flex-grow: 3;
}

.projectInfoTitle {
    font-size: 2rem;
    color: #790133;
}

.projectInfoTitle,
.projectInfoText,
.projectInfoTechnologies {
    margin-bottom: 32px;
}

.projectInfoText {
    font-family: "Montserrat";
    color: var(--white);
    line-height: 1.6;
}

.projectInfoTechnologies {
    display: inline-flex;
    align-items: center;
}

.projectInfoTechnologies a {
    color: #790133;
    margin-right: 24px;
    border-radius: 4px;
    color: #f7f7f7;
}

.projectInfoTechnologies svg {
    margin-right: 8px;
    height: 22px;
    fill: #790133;
}

.projectLinksWrapper {}

.projectLink {
    transition: 0.15s ease-in;
    display: inline-block;
    background: #790133;
    color: var(--white);
    padding: 12px 16px;
    margin-right: 18px;

    border-radius: 2px;
    text-decoration: none;
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);

}

.projectLink:hover {
    cursor: pointer;
    transform: translateY(-1px);
}

/* .projectLink::before {
    content: "";
    bottom: 0;
    left: 0;
    position: absolute;
    background-color: #790133;
    width: 100%;
    z-index: -1;
    transition: 0.15s ease-in;
    height: 0;
} */
/* 
.projectLink:hover::before {
    height: 100%;
} */

.projectIllustration {
    display: flex;
    align-content: center;
}

.projectIllustration svg {
    flex-grow: 1;
    width: 100%;
    padding: 40px;
}